.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 140px;
  padding-top: 0px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-logo p {
  color: #383838;
  font-size: 30px;
  font-weight: 700;
}
.footer-logo img {
  width: 50px;
}

.footer-social-icons {
  display: flex;
  gap: 20px;
}
.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: transparent;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.footer-icons-container img {
  width: 40px;
  height: 40px;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 16px;
}
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 2px;
  background: #c7c7c7;
}
@media (max-width: 800px) {
  .footer-links {
    gap: 20px;
    font-size: 14px;
  }
}
