.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.header {
  padding-top: 10px;
}

.theme-picture {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
}

video {
  width: 100%;
  height: 110%;
  object-fit: cover;
}

.home-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(5, 4, 4);
  font-weight: bold;
  margin-top: 70px;
}

.home-content h1 {
  font-size: 2.5rem;
  /* margin-bottom: 1rem; */
  margin-top: 40px;
  font-family: Trattatello, fantasy;
}

.home-content h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: Snell Roundhand, cursive;
}
