body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("../Assets/productBack.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.single-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-product-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.single-product-content {
  backdrop-filter: blur(50px);
  color: white;
  height: 50%;
  width: 60%;
  border-radius: 12px;
  padding: 30px;
  margin: 20px;
  display: flex;

  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.single-product-buttons {
  gap: 10px;
  display: flex;
  flex-direction: inline;
}

.single-product-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.single-product-button:hover {
  background-color: #2980b9;
}
