.products-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../Assets/proBackground.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.create-product-button {
  margin-bottom: 5px;
  margin-top: 30px;
  margin-left: -80px;
  background-color: #0f0a02;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  display: inline-table;
  backdrop-filter: blur(50px);
  width: 300px;
  border-radius: 50px;
  padding: 30px;
  margin: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card h4 {
  color: #4caf50;
}

.product-card:hover {
  background-color: rgb(97, 58, 4);
}
.preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.loading {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
  color: white;
}
